git+https://github.com/openai/CLIP.git
open_clip_torch
image-reward
diffusers
peft
wandb
transformers
accelerate==0.23.0
datasets
lmdb
evaluate
scipy
matplotlib
imageio
piq==0.7.0
safetensors
gradio
huggingface-hub==0.22.0
clean-fid
lpips
scikit-learn
opencv-python